<template>
  <div ref="about" class="about">
    <h1>{{ title }}</h1>
    <h2>{{ titlePart1 }}</h2>
    <p v-for="item in contentPart1" :key="item">
      {{ item }}
    </p>
    <h2>{{ titlePart2 }}</h2>
    <img
      src="../assets/ellcurve.gif"
      title="Evolution d'une courble elliptique classique"
    />
    <p v-for="item in contentPart2" :key="item">
      {{ item }}
    </p>
    <img
      src="../assets/ellcurve_anim.gif"
      title="Loi de groupe liant les points d'un courble elliptique"
    />
    <img src="../assets/proprieties.png" class="props" />
    <h2>{{ titlePart3 }}</h2>
    <p v-for="item in contentpart3" :key="item">
      {{ item }}
    </p>
  </div>
</template>

<script>
import { about } from "../app/content/about/about.fr.js"
export default {
  name: "about",
  data: () => ({
    title: about.title,
    titlePart1: about.titlePart1,
    contentPart1: about.contentPart1,
    titlePart2: about.titlePart2,
    contentPart2: about.contentPart2,
    titlePart3: about.titlePart3,
    contentpart3: about.contentPart3,
    listePropriete: about.listeproriete
  }),
  methods: {
    parentHeight() {
      return this.$refs.about.parentNode.clientHeight
    }
  },
  mounted() {
    this.$refs.about.style.height = this.parentHeight() + "px"
    document.getElementById("nav").classList.remove("col-3")
    document.getElementById("graph").classList.remove("col-9")
    document.getElementById("nav").classList.add("col-6")
    document.getElementById("graph").classList.add("col-6")
  }
}
</script>

<style scoped>
div.about {
  text-align: justify;
  text-justify: inter-word;
  overflow-y: scroll;
  padding-right: 10px;
  /* padding: 40px ; */
  scrollbar-color: black;
  scrollbar-width: thin;
  margin-left: 5px;
}
#nav {
  width: 60% !important;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style: square;
  padding: 0;
  color: black;
}
ol {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0;
}
img {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.props {
  width: auto;
  height: auto;
}
li {
  display: inline-block;
  margin: 0 10px;
  margin-top: 15px;
  list-style: square;
}
a {
  color: #42b983;
}
</style>
