<template>
  <div id="console" ref="console">
    <Point />
    <textarea
      id="text"
      cols="30"
      rows="10"
      v-model="text"
      ref="textarea"
      @keyup.enter.exact="this.parseText()"
    ></textarea>
    <ul id="result">
      <li v-for="res in result" :key="res">{{ res }}</li>
    </ul>
  </div>
</template>

<script>
import { Curve } from "../app/math/curve"
import { getCookie } from "../app/utilities/cookies"
import { createItem, getItem, getKeys } from "../app/utilities/localStorage"

import Point from "../components/Point"

export default {
  name: "console",
  components: {
    Point
  },
  data: () => ({
    curve: null,
    text: "",
    result: []
  }),
  methods: {
    parseText() {
      let textarea = this.$refs.textarea
      let textArray = textarea.value.trim().split("\n")
      let text = textArray[textArray.length - 1]

      if (text.match(regexAdd)) {
        this.ptsAdd(text)
      } else if (text.match(regexMult)) {
        this.ptsMult(text)
      } else if (text.match(regexSet)) {
        this.ptsSet(text)
      } else if (text.match(regexVal)) {
        this.ptsVal(text)
      } else {
        this.result.push("Mauvais arguments")
      }
    },
    ptsAdd(text) {
      let ptsName = text.split("+")
      let pta = JSON.parse(getItem(ptsName[0].trim().toUpperCase()))
      let ptb = JSON.parse(getItem(ptsName[1].trim().toUpperCase()))
      let ptAdd = this.curve.addTwoPoint(pta, ptb)
      this.pushResult(ptsName[0] + " + " + ptsName[1], ptAdd)
    },
    ptsMult(text) {
      let values = text.split("*")
      let pt = JSON.parse(getItem(values[0].trim().toUpperCase()))
      let num = parseInt(values[1].trim())
      let ptMult = this.curve.multPoint(pt, num)
      this.pushResult(values[0].trim() + " * " + num, ptMult)
    },
    ptsSet(text) {
      let ptText = text.split("=")[1].trim()
      let ptArray = ptText.substring(1, ptText.length - 1).split(",")
      let pt = { x: parseInt(ptArray[0]), y: parseInt(ptArray[1]) }
      let number = this.getAvailablePointNumber(getKeys().sort())
      createItem("P:" + number, JSON.stringify(pt))
      this.pushResult(number, pt)
    },
    ptsVal(text) {
      let ptVal = text.split("=")[1].trim()
      let res
      if (ptVal.match(regexAdd)) {
        let ptsName = ptVal.split("+")
        console.log(ptsName)
        let pta = JSON.parse(getItem(ptsName[0].trim().toUpperCase()))
        let ptb = JSON.parse(getItem(ptsName[1].trim().toUpperCase()))
        res = this.curve.addTwoPoint(pta, ptb)
      } else {
        let values = ptVal.split("*")
        console.log(values)
        let pt = JSON.parse(getItem(values[0].trim().toUpperCase()))
        let num = parseInt(values[1].trim())
        res = this.curve.multPoint(pt, num)
      }
      let number = this.getAvailablePointNumber(getKeys().sort())
      createItem("P:" + number, JSON.stringify(res))
      this.pushResult(number, res)
    },
    getCurve() {
      let cookie = getCookie("curve")
      if (cookie !== "") {
        cookie = cookie
          .replace("(", "")
          .replace(")", "")
          .split(",")
          .map(e => {
            return parseInt(e)
          })
      }
      if (cookie.length !== 0) {
        this.curve = new Curve(cookie[0], cookie[1], cookie[2])
      }
    },
    getAvailablePointNumber(keys) {
      let available = 1
      keys.forEach(elem => {
        if (elem.match("P:[0-9]+") !== null) {
          if (elem.split(":")[1] != available) return
          available++
        }
      })
      return available
    },
    pushResult(name, pt) {
      this.result.push("P:" + name + " = (" + pt.x + ", " + pt.y + ")")
    },
    parentHeight() {
      return this.$refs.console.parentNode.clientHeight
    }
  },
  mounted() {
    let size = this.parentHeight()
    this.$refs.console.style.height = size + "px"

    this.$refs.console.childNodes.forEach(elem => {
      elem.style.height = size / 3 + "px"
    })
    document.getElementById("nav").classList.remove("col-6")
    document.getElementById("graph").classList.remove("col-6")
    document.getElementById("nav").classList.add("col-3")
    document.getElementById("graph").classList.add("col-9")

    this.getCurve()
  }
}

const regexAdd = /^(P|p):\d+(\s+|)\+(\s+|)(P|p):\d+$/g
const regexMult = /^(P|p):\d+(\s+|)\*(\s+|)\d+$/g
const regexSet = /^(P|p)(\s+=\s+|=)\(\d+,(\s+|)\d+\)$/g
const regexVal = /^(P|p)(\s+=\s+|=)(((P|p):\d+(\s+|)\+(\s+|)(P|p):\d+)|((P|p):\d+(\s+|)\*(\s+|)\d+))$/g
</script>

<style>
#text {
  margin: 10px;
  width: 90%;
}
#result {
  overflow-y: scroll;
}
textarea {
  resize: none;
}

ul {
  list-style: none;
}
</style>
