<template>
  <div class="home"><Case /></div>
</template>

<script>
import Case from "../components/Case"
export default {
  name: "Home",
  components: {
    Case
  },
  mounted() {
    document.getElementById("nav").classList.remove("col-6")
    document.getElementById("graph").classList.remove("col-6")
    document.getElementById("nav").classList.add("col-3")
    document.getElementById("graph").classList.add("col-9")
  }
}
</script>
<style>
.home {
  width: 100%;
}
</style>
