<template>
  <div class="container">
    <div class="row case">
      <div class="col-2 icon">
        <i class="fas fa-wave-square"></i>
      </div>
      <div class="col-10 text">
        <p>y<sup>2</sup>=x<sup>3</sup>+ax+b</p>
      </div>
    </div>
    <div class="row case">
      <div class="col-2 icon">
        <i class="fas fa-square-root-alt"></i>
      </div>
      <div class="col-10 text">
        <p>
          a=
          <input
            type="number"
            v-model="a"
            min="0"
            @keyup.enter="this.setValuesCookie()"
          />
        </p>
        <input type="range" v-model="a" step="1" min="0" />
      </div>
    </div>
    <div class="row case">
      <div class="col-2 icon">
        <i class="fas fa-square-root-alt"></i>
      </div>
      <div class="col-10 text">
        <p>
          b=
          <input
            type="number"
            v-model="b"
            min="0"
            @keyup.enter="this.setValuesCookie()"
          />
        </p>
        <input type="range" v-model="b" step="1" min="0" />
      </div>
    </div>
    <div class="row case">
      <div class="col-2 icon">
        <i class="fas fa-square-root-alt"></i>
      </div>
      <div class="col-10 text">
        <p>
          p=
          <input
            type="number"
            v-model="p"
            min="13"
            max="9999"
            @keyup.enter="this.setValuesCookie()"
          />
        </p>
        <div name="slidecontainer">
          <input type="range" v-model="p" min="13" max="9999" />
        </div>
      </div>
    </div>
    <div class="row case">
      <button @click="this.setValuesCookie()">Appliquer les changements</button>
    </div>
  </div>
  <h3 id="titre">Point</h3>
  <Point />
</template>

<script>
import { isPrime } from "../app/math/number"
import { getCookie, setCookie } from "../app/utilities/cookies"
import { clearItem } from "../app/utilities/localStorage"
import Point from "./Point"
export default {
  name: "Case",
  components: {
    Point
  },
  data: () => ({
    a: 1,
    b: 3,
    p: 13
  }),
  methods: {
    getValuesCookie() {
      let cookie = getCookie("curve")
      if (cookie !== "") {
        cookie = cookie
          .replace("(", "")
          .replace(")", "")
          .split(",")
          .map(e => {
            return parseInt(e)
          })
        if (cookie.length !== 0) {
          this.a = cookie[0]
          this.b = cookie[1]
          this.p = cookie[2]
        }
      } else {
        this.setValuesCookie()
      }
    },
    setValuesCookie() {
      if (!isPrime(this.p)) {
        alert("Veuillez entrer un nombre premier en modulo")
      } else {
        setCookie("curve", "(" + this.a + "," + this.b + "," + this.p + ")")
        clearItem()
        this.reload()
      }
    },
    reload() {
      location.reload()
    }
  },
  mounted() {
    this.getValuesCookie()
  }
}
</script>

<style>
h3 #titre {
  margin-top: 10px;
}
.container {
  margin-bottom: 10px;
}
.case {
  border-bottom: 1px solid rgba(206, 206, 206, 0.8);
  border-right: 1px solid rgba(206, 206, 206, 0.8);
}
.icon {
  text-align: center;
  padding-right: 0px !important;
  border-right: 1px solid;
  border-color: rgb(218, 218, 218);
  background-color: rgb(242, 242, 242);
}
.icon i {
  padding-top: 10px;
}
.col-10.text {
  top: 10px;
}
.text p {
  margin-bottom: 0;
}
.slidecontainer {
  width: 100%;
}
input[type="number"] {
  width: 70%;
}
input[type="range"]:hover {
  opacity: 1;
}
.case button {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(14, 114, 96);
  color: #fff;
}
</style>
