<template>
  <div id="canvas">
    <div id="buttons">
      <button class="float" v-on:click="this.grid.onResetGrid()">
        <i class="fas fa-home"></i>
      </button>
      <button class="float" v-on:click="this.reload()">
        <i class="fa fa-spin fa-refresh"></i>
      </button>
      <button class="float" v-on:click="this.grid.onShowPoints()">
        <i class="far fa-circle"></i>
      </button>
      <button class="float" v-on:click="this.grid.onZoomIn()">
        <i class="fas fa-plus"></i>
      </button>
      <button class="float" v-on:click="this.grid.onZoomOut()">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
</template>

<style>
#canvas {
  width: 100%;
  height: 100%;
}
#buttons {
  display: block;
  align-items: baseline;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
}
.float {
  width: 60px;
  height: 60px;
  margin: 5px;
  padding-top: 5px;
  background-color: rgb(14, 114, 96);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  border: none;
}
</style>

<script>
import { Grid } from "../app/graph/grid"
import { Curve } from "../app/math/curve"
import { getCookie } from "../app/utilities/cookies"

export default {
  name: "Graph",
  data: () => ({
    a: 1,
    b: 3,
    p: 13,
    grid: null
  }),
  methods: {
    /**
     * Return values from cookie
     * @returns {number[]}
     */
    getValuesCookie() {
      let cookie = getCookie("curve")
      if (cookie !== "") {
        return cookie
          .replace("(", "")
          .replace(")", "")
          .split(",")
          .map(e => {
            return parseInt(e)
          })
      }
      return []
    },
    setValuesCookie() {
      let values = this.getValuesCookie()
      if (values.length !== 0) {
        this.a = values[0]
        this.b = values[1]
        this.p = values[2]
      }
      this.grid = new Grid("canvas", new Curve(this.a, this.b, this.p))
    },
    reload() {
      location.reload()
    }
  },
  mounted() {
    this.setValuesCookie()
  }
}
</script>
