<template>
  <div id="top-menu">
    <div id="div-left">
      <div id="logo">
        <a href="https://www.isen-lille.fr">
          <img alt="Vue logo" src="../assets/logo.png" />
        </a>
      </div>
    </div>
    <div id="div-center">
      <div id="title">
        <a href="/">
          <img alt="Vue logo" src="../assets/title.png" />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderBar"
}
</script>

<style>
#top-menu {
  width: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  box-shadow: -3px 1px 11px -3px rgba(70, 70, 70, 0.41);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#logo {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
#title {
  margin-top: 10px;
  display: flex;
}
</style>
