<template>
  <div id="container" :key="componentKey">
    <div class="row point">
      <div class="col-12 row" v-for="pt in points" :key="pt">
        <div class="col-10" id="expression">
          {{ pt.name }} = ({{ pt.x }};{{ pt.y }})
        </div>
        <button class="col-2" @click="this.deletePoint(pt.name)">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { deleteItem, getItem, getKeys } from "../app/utilities/localStorage"
export default {
  name: "Point",
  data: () => ({
    points: [],
    componentKey: 0
  }),
  methods: {
    getPoints() {
      let keys = getKeys().sort()
      let pt
      keys.forEach(key => {
        if (key.match("P:[0-9]+")) {
          pt = JSON.parse(getItem(key))
          this.points.push({ name: key, x: pt.x, y: pt.y })
        }
      })
    },
    deletePoint(name) {
      deleteItem(name)
      this.forceRerender()
    },
    forceRerender() {
      this.componentKey += 1
      this.$forceUpdate()
    }
  },
  mounted() {
    this.getPoints()
  }
}
</script>

<style>
#container {
  margin-top: 10px;
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#icon i {
  text-align: center;
}
.point {
  width: 100%;
  margin: 0px !important;
}
#expression {
  top: 0px;
}
button {
  border: none;
}
</style>
