<template>
  <div class="container-fluid">
    <div class="row" id="header">
      <HeaderBar />
    </div>
    <div class="row" id="page">
      <div class="col-3" id="nav">
        <div class="menu">
          <router-link to="/"
            ><i class="fas fa-square-root-alt"></i>
          </router-link>
          <router-link to="/about"
            ><i class="fas fa-question-circle"></i
          ></router-link>
          <router-link to="/console"
            ><i class="fas fa-calculator"></i
          ></router-link>
        </div>
        <router-view />
      </div>
      <div class="col-9" id="graph">
        <Graph />
      </div>
    </div>
  </div>
</template>

<script>
import Graph from "./components/Graph"
import HeaderBar from "./components/HeaderBar"

export default {
  components: {
    Graph,
    HeaderBar
  }
}
</script>

<style>
html,
body {
  height: 100%;
}
.container-fluid {
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  width: 100%;
}
.row#header {
  height: 72px;
}

.row#page {
  position: fixed;
  width: 100%;
  height: 100%;
}

.col-3#nav {
  margin: 0% !important;
  padding: 0% !important;
}

.menu {
  background-color: #383554;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.col-9#graph {
  padding: 0px;
}
.col-6#graph {
  padding: 0px;
}
#nav {
  height: 80%;
  padding: 0px;
}
#nav a {
  font-weight: bold;
  color: #d2d2d2;
  margin: auto;
  padding: 5px;
}

#nav a.router-link-exact-active {
  color: #ffffff;
  padding: 5px;
}
</style>
